.mainCat {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20%;
  margin-bottom: 3rem;
}

.mainCat > div > div {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.listName {
  width: 3rem;
  height: 2.5rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #ffff;
  position: absolute;
  top: 25%;
  left: 40%;
}

.listName:hover {
  color: red;
  cursor: pointer;
  transition: 1s;
}

.iconD,
.iconE,
.iconEd {
  height: 3.5rem;
  width: 3.5rem;
}

.iconD {
  color: red;
  position: absolute;
  top: 22%;
  right: 38%;
}
.iconE {
  color: rgb(75, 223, 6);
  position: absolute;
  top: 22%;
  right: 8%;
}
.iconEd {
  color: rgb(104, 103, 103);
  position: absolute;
  top: 22%;
  right: 45%;
}

.iconD:hover {
  cursor: pointer;
  scale: 1.2;
}
.iconE:hover {
  cursor: pointer;
  scale: 1.2;
}
.icon:hover {
  cursor: pointer;
  scale: 1.2;
}
.iconEd:hover {
  cursor: pointer;
  scale: 1.2;
}
.iconAD:hover {
  cursor: pointer;
  scale: 1.2;
}
