.mainDi{
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.mainDi > form {
  scale: 1.1;
}

.btnx {
  border-radius: 5px;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  text-transform: uppercase;
}

.btnx:hover {
  cursor: pointer;
  background-color: red;
  transition: 0.3s;
  scale: 1.1;
  color: white;
}

.btn {
  width: 15rem;
  height: 3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(230, 230, 230, 0.7);
  border-radius: 0.5rem;
  cursor: pointer;
}

.selectD {
  background: none;
  border: 1px solid rgb(190, 186, 186);
  width: 300px;
  height: 50px;
  padding-left: 1rem;
}

.selectD:hover {
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-content: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.listName {
  width: 3rem;
  height: 2.5rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #ffff;
}

.listName:hover {
  color: red;
  cursor: pointer;
  transition: 1s;
}
