.mainRender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.mainProf {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  width: 100%;
}

/* .user {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  height: 7rem;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
}

.user > h2 {
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  height: 5rem;
  margin-top: 0.9rem;
}

.user > img {
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
}

.user > button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
} */

.prodAndCat,
.ordAndUser {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.sectionAdm {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 1rem;
  /* border: 1px solid black; */
  padding: 1rem;
  background-color: #ffff;
  width: 32rem;
}

.sectionAdm > img {
  width: 15rem;
  height: 15rem;
  border-radius: 9999px;
  border: 5px solid grey;
}

.sectionAdm > div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.sectionAdm > div > p {
  display: none;
  font-size: 1.2rem;
  color: black;
}

.sectionAdm:hover{
  scale: 1.2;
  border: 1px solid gray;
  border-radius: 1rem;
  transition: 1s;
}
.sectionAdm:hover > div > p{
  display: flex;
  transition: 1s;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.linkP {
  /* text-decoration: none; */
  /* border: 1px solid grey; */
  width: fit-content;
  height: fit-content;
  color: rgba(68, 185, 218, 0.877);
  padding-left: 0.1rem;
  padding-right: 0.3rem;
  font-size: 2.5rem;
}

.thinking {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  height: 5rem;
  width: 100%;
  margin-top: 1rem;
}

.thinking > img {
  width: 4rem;
  height: 4rem;
}

.thinking > h1 {
  display: flex;
  height: 4rem;
  align-content: center;
  text-align: center;
  font-size: 3rem;
}
