.buscar{
    padding: 4px;
    position: absolute;
    right:90px;
    margin-right: -38px;
    margin-top: 13px;
}

.buscar input{
    width: 0px;
    height: 30px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.btn{
    position:absolute;
    top:0px;
    right:0px;
    background: black;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input{
    width: 240px;
}

.buscar input:focus{
    width: 240px;
}