
  body {
    font-size: 18px;
    background-color: #f5f6f7;
  }
  
  h1{
    max-width: 940px;
    font-size: 2.5em;
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 0; 
  }

  h5{
    line-height: 1.5;
    margin: 10px 20px 20px 20px;
    color: black;
  }
  
  .App {
    padding-left: 5px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  .contenedor_principal {
  
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
  
  }