.sort{
  display: flex;
  width: fit-content;
  /* position: relative; */
  /* margin-top: 1rem; */
  margin-right: 1rem;
}

.sort > section {
  display: flex;
  /* position: absolute; */
  /* right: 1rem; */
  gap: 0.5rem;
}

.sort > section > select {
  background-color: white;
  border: 0.01px solid grey;
  width: 8rem;
  height: 2rem;
  justify-content: center;
  text-align: center;
}
