.errorDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.errorDiv > img {
  margin-top: 2rem;
  width: 35rem;
  height: 25rem;
}

.errorDiv > h2 {
  margin-top: 3rem;
  font-weight: bold;
}

.errorLink{
  color: black;
  font-size: 1.2rem;
} 
