.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.form > select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 1.4rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: capitalize;
  background-color: white;
}
.form > select:hover{
  cursor: pointer;
}


.form > select > option {
  text-transform: capitalize;
}

.icon {
  width: 1.4rem;
  height: 1.4rem;
  color: green;
}
.icon:hover {
  cursor: pointer;
  scale: 1.2;
}
