.container {
  transition: all .6s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem;
  margin:10vh auto;
  background:#a9a9a9;
  padding: 7px ;
  padding-right: 7px;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
    
  }
  .stars {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 100px;
    padding: 15px;
  cursor: pointer;
  }

  .starsProm {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 32px;
    color:#24a19c;
    justify-items:right ;
  }
  
  .headReviews {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color:beige ;
    
  }

 

  .wrapper {
    background-color: white;
    /* display: grid;
    grid-template-columns:  20%  60% 20%;
    grid-template-rows: 200px 90px 200px;
    grid-gap: 20px; */
    text-align: left;
    width: 98%;
   border-radius: 5px;
    padding: 0;
  
   
   }

  .tag {
    width: 10rem;
    color: white;
    text-align: left;
    
    
   }
   
   .tag li {
    background-color: white;
    color: black;
    
   }
   
   .tag li:hover {
    background-color: black;
    color: white;
    cursor: pointer;
   }
   
   
   .wrapperTag {
    display: flex;
    flex-direction: row;
    text-align: center;
    
   
   }
   
   .wrapperTag .image {
    min-width: 5rem;
    border-radius: 999px;
    
   }
   
   .wrapperTag .image .img{
    border-radius: 999px;
    min-height: 1.5rem;
    
    }
   
   
   .wrapperTag .user {
    min-width: 40rem;
   
    
    }
   
    .wrapperTag .date {
    min-width: 40rem;
    
    
    }
   
    .wrapperTag .value {
    min-width: 5rem;
    
    }
   
 
   
   .contenedor {

    display: grid;
    grid-template-columns:  20%  50% 30%;
  
    grid-gap: 10px;
    padding-left: 100px;
    
    
}

   .contenedor div {
    display: block;
    padding: 5px;
    color: #000;
    background-color:transparent;
    width: 100%;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0); */
   
  }

   /* .contenedor .item {
      grid-column-start: 1;
      grid-column-end: -1;
      font-size: medium;
   } */

   .contenedor .img{
    height: 4rem;
    border-radius: 999px;

   }
   .contenedor .stars {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 25px;
    padding: 10px;
    font-size: 18px;
    color:orange;
  }

   .date {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
   }