.carousel {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1000px;
  position: relative;
  border-radius: 2rem;
  border: 3rem;
  justify-content: center;
  
}

.carousel-inner {
  white-space: nowrap;
  transition: ease 1s;
  justify-content: center;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.carousel-control {
  background-color:transparent;
  border: none;
  display: inline-block;
  position: absolute;
  height: 70px;
  width: 100px;
  top: calc(50% - 25px);
  color:black;
  cursor: pointer;
  
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.carousel-indicators {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  z-index: 2;
}

.carousel-indicator-item {
  width: 20px;
  height: 25px;
  border: none;
  cursor: pointer;
  justify-content: center;
}
.active {
  opacity: 1;
}
