.navBar {
  display: flex;
  background-size: cover;
  /* flex-direction: column; */
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 2.4rem;
  height: 6rem;
  background-color: rgb(22, 149, 88);
  /* margin-bottom: 11px; */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.9);
}

.imgCane {
  width: 5rem;
  height: 5rem;
  border-radius: 9999px;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.navBar > section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.link:hover > h3 {
  color: beige;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  height: 5.5rem;
  width: 5.5rem;
  display: flex;
  align-items: center;
}

.btn:hover {
  background: none;
  color: red;
}

.h3admin {
  margin-top: 20px;
  padding: 10px;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.768);
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  font-family: 'Open Sans', sans-serif;
}
