.navBar {
  display: flex;
  background-size: cover;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-items: center;
  justify-content: center;
  height: 6rem;
  background-color: rgb(22, 149, 88);
  margin-bottom: 11px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.9);
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.logo > img {
  height: 5rem;
  width: 5rem;
  border-radius: 9999px;
  margin-left: 2rem;
  cursor: pointer;
}

.navBar > div {
  margin-top: 0.2rem;
  width: 60%;
  margin-left: 2rem;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.navBar > div > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 13%;
  width: 100%;
}

.navBar > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15%;
  width: 25%;
}

.link {
  text-decoration: none;
  color: black;
  /* margin-bottom: 0.3rem; */
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.link:hover > h3 {
  color: beige;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-content: center;
}

.btn:hover {
  background: none;
  color: red;
}
