.navBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-items: center;
  margin-left: 20rem;
  gap: 1rem;
  margin-top: 1rem;
}

.navBar > section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.search{
  align-items:left;
}