.mainData {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
  margin-top: 4rem;
  /* margin-left: 30%; */
  align-items: center;
  justify-content: center;
}

.titleDiv {
  display: flex;
  gap: 5rem;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  text-align: center;
}

.linkEdit{
  width: 3rem;
  height: 3rem;
  color: black;
}

.titleDiv > h2 {
  font-weight: bold;
  font-size: 2.5rem;
}

.mainData > section {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}

.mainData > section > div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 15%;
}

.mainData > section > div > p {
  font-size: 1rem;
}

.mainData > section > div > h3 {
  font-size: 1.7rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.personalData {
  text-transform: capitalize;
}
