.mainUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 0.5rem; */
  margin-top: 1.5rem;
  position: relative;
  margin-bottom: 2rem;
}

.tableAntD {
  width: 90%;
  /* margin-right: 10%; */
}

.tableAntD > div > div > div > div > div > table > thead > tr > th {
  border: 1px solid black;
  font-weight: bold;
  font-size: 1.5rem;
}
.tableAntD > div > div > div > div > div > table > tbody > tr > td {
  border: 1px solid black;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-content: center;
}

.listName {
  width: 3rem;
  height: 2.5rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  /* padding: 0.6rem; */
  background-color: #ffff;
}

.listName:hover {
  color: red;
  cursor: pointer;
  transition: 1s;
}

.mas {
  display: flex;
  gap: 1rem;
  align-content: center;
}

.icon,
.iconD,
.iconE,
.iconEd,
.iconUs,
.iconAD {
  height: 1.4rem;
  width: 1.4rem;
}
.icon {
  color: rgb(65, 191, 245);
}
.iconD {
  color: red;
}
.iconE {
  color: rgb(75, 223, 6);
}
.iconEd {
  color: rgb(104, 103, 103);
}
.iconAD {
  color: rgb(27, 130, 248);
}

.iconD:hover {
  cursor: pointer;
  scale: 1.2;
}
.iconE:hover {
  cursor: pointer;
  scale: 1.2;
}
.icon:hover {
  cursor: pointer;
  scale: 1.2;
}
.iconEd:hover {
  cursor: pointer;
  scale: 1.2;
}
.iconAD:hover {
  cursor: pointer;
  scale: 1.2;
}
