.footer {
    padding-top: 50px;
    width: 100%;
    color: rgb(175, 166, 166);
    display: column;
    
}

.site_footer {
    display: flex;
    padding: 2rem ;
    justify-content: center;
}

.copyright{
    font-size: 0.8rem;
}

.redes_sociales{
    
    font-size: 1rem;
}
.img {
    padding-right: 5px;
}

.nombre{
    padding: 10px;
    font-size: 0.9rem;
}

.redes_sociales img{
    width: 30px;
}
