.formPrincipal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.formPrincipal > form > div > div > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.formPrincipal > form > div > div > div > label {
  font-size: 2rem;
  width: 10rem;
}

.formPrincipal > form > div > div > div > div > div > input {
  font-size: 2rem;
  width: 20rem;
}

.formPrincipal > form > div > div {
  display: flex;
  align-items: center;
}

.formPrincipal > form {
  width: 50%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 3rem 3rem 3rem 3rem;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-content: center;
}

.listName {
  width: 3rem;
  height: 2.5rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #ffff;
}

.listName:hover {
  color: red;
  cursor: pointer;
  transition: 1s;
}

.errors {
  color: red;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.btn {
  width: 10rem;
  height: 3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(65, 191, 245, 0.7);
  border-radius: 0.5rem;
  cursor: pointer;
  /* font-weight: bold; */
}
