


.div{
    
    transition: all .6s ease-in-out;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    padding: 1.5rem;
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
    
}
 .img{
    float:left;
    width:45%;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px #000000 
 }
 .titulo{
    font-style: normal;
    margin-bottom: 2.5px;
    font-weight: 800;
    font-size: 150%;
    line-height: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em; 
 }

.description{
    width:30vw;
    display: contents;
    text-align: center;
    margin-bottom: 0.2re;
    margin-inline: 4rem;
    font-weight: 500;
    /* color: rgb(0, 0, 0);
    padding: .4vh;
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px; */
}
.p{
    width:30vw;
    display: contents;
    margin-bottom: 2rem;
    font-weight:600 ;
    font-variant: small-caps;
   
}
.stock{
  
     color:#1CBE60;
     font-weight: 500;
     font-size:larger;
 }
 .precio{
    color:black;
    font-size:larger;
 }






.button {
    appearance: none;
    background-color: #FAFBFC;
    border: 0.5px solid #E74C3C (27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: #E74C3C (27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #E74C3C ;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
   }
   
   button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
   }
   
   button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
   }
   
   button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
   }
   
   button:focus {
    outline: 1px transparent;
   }
   
   button:before {
    display: none;
   }
   
   button:-webkit-details-marker {
    display: none;
   }
   .button1 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid #1E8449(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: #1E8449(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #1E8449;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    position: relative;
    
   }
   
   .button1:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
   }
   
   .button1:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
   }
   
   .button1:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
   }
   
   .button1:focus {
    outline: 1px transparent;
   }
   
   .button1:before {
    display: none;
   }
   
   .button1:-webkit-details-marker {
    display: none;
   }
   .button1 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid #000000(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: #000000(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    position: relative;
    
   }
   
   .button2:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
   }
   
   .button2:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
   }
   
   .button2:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
   }
   
   .button2:focus {
    outline: 1px transparent;
   }
   
   .button2:before {
    display: none;
   }
   
   .button2:-webkit-details-marker {
    display: none;
   } 

   .b{
    background-color: transparent;
    border: none;
    cursor: pointer;
   }

   /* payment */

   .payment {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

   .imgPayment {
    width: 25vw;
    float:left;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    box-shadow: 2px 2px 2px #000000 
   }

   .descriptionPay{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    gap: 10px
   }

   /* .context{
    border:red solid 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: #000000 1px solid;
    width: 100%;
    margin: 15vh auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;

   } */