
/*-----------------------------------------------*/

.cardCategory {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    margin-left: 1rem;
    padding: 1rem;
    background-color: rgb(22, 149, 88);
    width: 32rem;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.9);
  }
  
  .cardCategory > img {
    width: 15rem;
    height: 15rem;
    border-radius: 9999px;
    border: 5px solid grey;
  }
  
  .cardCategory > div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
  }

  .cardCategory > div > h1{
    -webkit-text-stroke: 2px #ffff;
    font-weight: 900;
  }
  
  .cardCategory > div > p {
    display: none;
    font-size: 1.2rem;
    color: black;
  }
  
  .cardCategory:hover{
    scale: 1.01;
    transition: 0.1s;
    cursor: pointer;
  }
  .cardCategory:hover > div > p{
    display: flex;
    transition: 1s;
  }
