.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  /* margin-top: 3rem; */
  margin-bottom: 3rem;
}

.Text {
  width: 100%;
  font-size: 28px;
  padding: 8px 5px;
  text-align: left;
  margin-left: 10%;
  /* text-transform: uppercase; */
  text-rendering: optimizeLegibility;
  /* color: #e0dfdc; */
  color: rgb(127, 79, 36);
  /* background-color: rgb(127, 79, 36); */
  letter-spacing: 0.1em;
  /* font-weight: 900; */
}

.prodSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weekSect {
  display: flex;
  flex-direction: column;
  height: 25rem;
  align-items: center;
  justify-content: center;
}

.weekProd {
  margin: auto;
  /* background-color: rgba(22, 149, 88, 0.5); */
  margin-top: 1rem;
  width: 800px;
  height: 19rem;
}

.prodSection > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.publishing{
  /* width: 30rem; */
  height: 20rem;
}
