.container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: #000000 1px solid;
    width: 60%;
    margin: 15vh auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;


}

.container1 {
    padding: 1vh;
}


.container1 div {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    border: solid 1px black;
    background-color: #EDEFF2;
}


.container h4{
color:black;
width: 30%;
font-family:Arial, Helvetica, sans-serif;
font-weight: 500;
font-size:1.2rem;
margin-top: 1.5rem;
text-transform: capitalize;
}
.container1 h5{
    text-align: center;
    align-self: center;
    align-content: center;
    font-size: 1rem !important;
 
}
.container1 img{
    width: 70px;
    border-radius: 3.5%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 1);
   margin-left: 1rem;

}

.container h2{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2.3rem;
}

.container div{
    display: flex;
    flex-direction: column;
    
}

.delete{
    background-color: transparent;
    width: 30px;
    border: none;
    margin-right: 2rem;
    cursor: pointer;
 
    }
    

.total{
    font-weight: 500;
font-size: 1.5rem;
background-color:#EDEFF2
}



.button1 {
    width: 15rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    appearance: none;
    background-color: #FAFBFC;
    border:#82E0AA 1.5px solid;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    
    
   }
   
   .button1:hover {
    background-color:#F8F9F9;
    text-decoration: none;
    transition-duration: 0.1s;
   }
   
   .button2 {
    width: 15rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    appearance: none;
    background-color: #FAFBFC;
    border:#E74C3C  1.5px solid;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    
    
   }
   
   .button2:hover {
    background-color:#F8F9F9;
    text-decoration: none;
    transition-duration: 0.1s;
   }
   .button3 {
    text-decoration: none;
    width: 15rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    appearance: none;
    background-color: #FAFBFC;
    border:#F39C12 1.5px solid;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    
    margin-left: -30rem;
    
    
   }
   
   .button3:hover {
    background-color:#F8F9F9;
    text-decoration: none;
    transition-duration: 0.1s;
   }
   .link{
    text-decoration: none;
    color: #000000;

   }
   .link:hover{
    color: #000000;
   }