.mainP{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 4px;
}

.mainP > button {
  border-radius: .25rem;
  border: none;
  min-width: 2.25rem;
  text-align: center;
  color: #4f5464
}

.mainP > button:hover {
  background-color: #24A19C !important;
  color: #fff;
}

.numbers {
  width: 2rem;
  height: 2rem;
}
