.mainCardFav {
  display: flex;
  width: 800px;
  height: 300px;
  gap: 3rem;
  align-items: center;
  color: black;
  background-color: rgba(22, 149, 88, 0.5);
}

.mainCard {
  position: relative;
  /* border: 2px solid grey; */
}

.b {
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 0px;
  top: -5px;
  z-index: 2;
  background-color: rgba(22, 149, 88, 0.5);
}

.mainCard:hover > .b {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
}

.mainCardFav > img {
  width: 350px;
  height: 300px;
  /* border: 2px solid grey; */
}

.mainCardFav > section {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
}

.mainCardFav > section > h2 {
  font-weight: bold;
  text-transform: capitalize;
}

.mainCardFav > section > p {
  text-transform: capitalize;
}
