.fMain {
  display: flex;
  gap: 0.5rem;
}

.select1 {
  width: 9rem;
}
.select2 {
  width: 11rem;
}

.select1,
.select2 {
  background-color: white;
  border: 0.01px solid grey;
  height: 2rem;
  justify-content: center;
  text-align: center;
}
